{% extends 'base.html.twig' %}

{% block title %}Tu Reservas{% endblock %}

{% block body %}
<div class="col-md-8">
   
    {% for producto in cesta %}
                <tr>
                    <td>{{producto['alojamiento'].getNombre()}} </td>
                    <td>{{producto['alojamiento'].getPrecio()}}</td>
                    <td>
                        
                    </td>
                </tr>
            {% endfor %}
        </ul>
    </div>
  
</div>


{% endblock %}