{% extends 'explore.html.twig' %}

{% block title %}Orbi|Explore{% endblock %}



{% block body %}

<section class="d-flex justify-content-center fixed-top items-center py-16 bg-gray-100" style="top:72px; z-index:1;">
    <label class="rad-label">
      <input type="radio"  id="all" class="rad-input" name="rad"  checked>
      <div class="rad-design"></div>
      <div class="rad-text">Todos</div>
    </label>
  
    <label class="rad-label">
      <input type="radio" id="Hotel" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Hotel</div>
    </label>

    <label class="rad-label">
      <input type="radio"  id="Hostal" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Hostal</div>
    </label>

    <label class="rad-label">
      <input type="radio" id="albergue" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Albergue</div>
    </label>
  
    <label class="rad-label">
      <input type="radio" id="CasaRural" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Casa Rural</div>
    </label>
  </section>
  
<section class="h-100  mt-5">
    <div class="packege  padding--bottom bg-ash position-relative pt-5">
        <div class="container ">

            <div class="section__wrapper  wow fadeInUp p-2" data-wow-duration="1.5s" data-wow-delay=".5s"
                style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp; " id="alojamiento">
                <div class="row g-4 row-cols-xxl-5 row-cols-xl-4  row-cols-sm-2 row-cols-1 " style="padding-bottom: 50px;" id="hijo">

                
            </div>
        </div>
    </div>
</section>


      

{% endblock %}

  {% block javascripts %}
{{parent()}}
<script src="{{asset('js/explore.js')}}"></script>


      
{% endblock %}