{% extends 'base.html.twig' %}

{% block title %}Orbi|Explore{% endblock %}



{% block body %}

<section class="d-flex justify-content-center fixed-top items-center py-16 bg-gray-100" style="//top:84px">
    <label class="rad-label">
      <input type="radio"  id="all" class="rad-input" name="rad"  checked>
      <div class="rad-design"></div>
      <div class="rad-text">Todos</div>
    </label>
  
    <label class="rad-label">
      <input type="radio" id="Hotel" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Hotel</div>
    </label>

    <label class="rad-label">
      <input type="radio"  id="Hostal" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Hostal</div>
    </label>

    <label class="rad-label">
      <input type="radio" id="Albergue" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Albergue</div>
    </label>
  
    <label class="rad-label">
      <input type="radio" id="CasaRural" class="rad-input" name="rad">
      <div class="rad-design"></div>
      <div class="rad-text">Casa Rural</div>
    </label>
  </section>
  
<section class="h-100 pt-5">
    <div class="packege  padding--bottom bg-ash position-relative ">
        <div class="container ">

            <div class="section__wrapper  wow fadeInUp p-2" data-wow-duration="1.5s" data-wow-delay=".5s"
                style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp; " id="alojamiento">
                <div class="row g-4 row-cols-xxl-5 row-cols-xl-4  row-cols-sm-2 row-cols-1 " style="padding-bottom: 50px;" id="hijo">

                    <div class="col">
                        <div class="packege__item">
                            <div class="packege__inner">

                                <div class="packege__thumb">
                                    <a href="tour-single.html"><img
                                            src="https://template.labartisan.net/demos/explore/assets/images/packege/03.jpg"
                                            alt="Travel Thumb"></a>

                                </div>

                                <div class="packege__content">
                                    <a href="tour-single.html">
                                        <h5 style="color:#222">Enjoy the Beauty place in Bhutan City</h5>
                                    </a>
                                    <div class="packege__rivew">
                                        <div class="left">
                                            <span class="rating">Si crees que estás en peligro, tienes acceso
                                                prioritario a un equipo especializado que te atenderá sea la hora que
                                                sea</span>
                                        </div>
                                        <div class="right">
                                            <span class="packege__price">746 € por noche</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Button trigger modal -->



<div class="dropdown-content">

<a href="{{path('RegionExplore',{'name':'Asturias'})}}">Asturias</a>
</div>

  <script>
  
  /*variables*/
  let hotel=document.querySelector('#Hotel');
  let hostal=document.querySelector('#Hostal');
  let albergue=document.querySelector('#Albergue');
  let casaRural=document.querySelector('#CasaRural');
  let todos=document.querySelector('#all');
  

  var array=new Array();
  var cambio=new Array();

 var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
 try {
                let filas = JSON.parse(this.responseText);
                array=filas
              
               
            } catch (ex) {
               
               console.log( "no hay nada")
               
            }
        }
    };
    xhttp.open("GET",'/responseExplore' , true);
    xhttp.send();


hotel.addEventListener('click',function(){
  
filtrar(array,hotel.id);
 sessionStorage.setItem('actividad',hotel.id);
});
hostal.addEventListener('click',function(){
  filtrar(array,hostal.id);
  sessionStorage.setItem('actividad',hostal.id);
})
albergue.addEventListener('click',function(){
  filtrar(array,albergue.id);

})
casaRural.addEventListener('click',function(){
filtrar(array,casaRural.id);

})

todos.addEventListener('click',function(){
sessionStorage.removeItem('actividad'); 
mostrarAlojamientos(array);

})


document.addEventListener("DOMContentLoaded",function(){

let vector=new Array();


var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
 try {
                let filas = JSON.parse(this.responseText);
          
                vector=filas;

                if(window.sessionStorage){
  if(!sessionStorage.getItem('actividad')){
mostrarAlojamientos(vector)
  }else{
let actividad=sessionStorage.getItem("actividad");
  filtrar(vector,actividad);
  
  }
}
                      
            } catch (ex) {
               
               console.log( "no hay nada")
               
            }
        }
    };
    xhttp.open("GET",'/responseExplore' , true);
    xhttp.send()


})

function filtrar(array,actividad){

 sessionStorage.setItem('actividad',actividad);
cambio=array.filter((element) => {
 return( element.actividad.nombre == actividad )});
if(cambio!=undefined && cambio.length >0){
mostrarAlojamientos(cambio);

}else{
mostrarMensaje();
}

}


function mostrarMensaje(){

  let div=document.getElementById('alojamiento');
  let hijo=document.getElementById('hijo');
  div.removeChild(hijo);


  let divhijo=document.createElement('div');
  divhijo.classList="row g-4 row-cols-xxl-5 row-cols-xl-4  row-cols-sm-2 row-cols-1 ";
  divhijo.id="hijo";
  divhijo.style="padding-bottom: 50px;";

let parrafo=document.createElement('p');
parrafo.textContent="No hay alojamientos disponibles"
divhijo.appendChild(parrafo);
div.appendChild(divhijo);
}


function mostrarAlojamientos(array){

  let div=document.getElementById('alojamiento');
  let hijo=document.getElementById('hijo');
  div.removeChild(hijo);


  let divhijo=document.createElement('div');
  divhijo.classList="row g-4 row-cols-xxl-5 row-cols-xl-4  row-cols-sm-2 row-cols-1 ";
  divhijo.id="hijo";
  divhijo.style="padding-bottom: 50px;";
  
  console.log(array);
  for(let i=0;i<array.length;i++){

let principal=document.createElement('div');
principal.classList="col";

let item=document.createElement('div');
item.classList="packege__item";
let inner=document.createElement('div');
inner.classList="packege__inner";


let thumb=document.createElement('div');
thumb.classList="packege__thumb";
let enlace=document.createElement('a');
enlace.href="/alojamiento/" + array[i]['Nombre'];
let imagen=document.createElement('img');
imagen.setAttribute('src','/img/alojamientos/'+ array[i]['images'][0]['imageName']);
/*imagen.setAttribute('alt','https://www.vinccihoteles.com/blog/wp-content/uploads/2019/10/vincci-seleccion-la-plantacion-del-sur-tenerife-1024x683.jpg')*/
enlace.appendChild(imagen)
thumb.appendChild(enlace);

let content=document.createElement('div');
content.classList="packege__content";
let aContent=document.createElement('a');
aContent.href="/alojamiento/" + array[i]['Nombre'];
let h5=document.createElement('h5');
h5.textContent=array[i]['Nombre'];
let rivew=document.createElement('div');
rivew.classList="packege__rivew";
let left=document.createElement('div')
left.classList="left";
let span1=document.createElement('span');
span1.textContent='lugar';
let span2=document.createElement('span');
span2.textContent='jiio';
let right=document.createElement('div');
right.classList="right";
let span3=document.createElement('span');
span3.textContent="fdfdfd";
left.appendChild(span1);
left.appendChild(span2)
right.appendChild(span3);
rivew.appendChild(left);
rivew.appendChild(right);
aContent.appendChild(h5);
content.appendChild(aContent)
content.appendChild(rivew)




inner.appendChild(thumb);
inner.appendChild(content)
item.appendChild(inner);
principal.appendChild(item);
 

    divhijo.appendChild(principal)
  }

div.appendChild(divhijo);
  }


/*
function getGET()
    {
        // capturamos la url
        var loc = document.location.href;
        // si existe el interrogante
        if(loc.indexOf('?')>0)
        {
            // cogemos la parte de la url que hay despues del interrogante
            var getString = loc.split('?')[1];
            // obtenemos un array con cada clave=valor
            var GET = getString.split('&');
            var get = {};
            // recorremos todo el array de valores
            for(var i = 0, l = GET.length; i < l; i++){
                var tmp = GET[i].split('=');
                get[tmp[0]] = unescape(decodeURI(tmp[1]));
            }
            return get;
        }
    }
*/
 
    /*
        // Cogemos los valores pasados por get
        var valores=getGET();
        if(valores)
        {
            //recogemos los valores que nos envia la URL en variables para trabajar 
                //con ellas
            var actividad= valores['actividad'];
            console.log(min);
            var min=valores['minPrecio'];
            var max=valores['maxPrecio'];

            minPrecio.value=min;
            maxPrecio.value=max;
           

            filtrar(array,actividad);
             
        }else{
            // no se ha recibido ningun parametro por GET
            document.write("No se ha recibido ningún parámetro");
        }
  
*/


  </script>
{% endblock %}

  