{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}

{% endblock %}



{% block body %}
<main>
 <div id="infoHoteles" data-hotels="{{alojamientos|serialize('json', { groups: 'hotel'})}}"></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">filtrar</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Precio:</label>
            <input type="checkbox" value="25"> 25</br>
            <input type="checkbox" value="50"> 50</br>
            <input type="checkbox" value="75"> 75</br>
            <input type="checkbox" value="150"> 150</br>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Tipo de Alojamiento:</label>
            <input type="checkbox" value="all">Todos</br>
            <input type="checkbox" value="Hotel">Hotel</br>
            <input type="checkbox" value="Hostal">Hostal</br>
            <input type="checkbox" value="Albergue">Albergue</br>
            <input type="checkbox" value="Casa Rural">Casa Rural</br>
            <input type="checkbox" value="Propietario">Propietario</br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>



<form>
 <p>Precio</p>
<input type="text" id="minprice" value="10">
<input type="text" id="maxprice" value="2500">
<input type="text" value="Gijon" id="lugar">
</form>




<ul class="chec-radio">
<li class="pz">
		<label class="radio-inline">
			<input type="radio"  id="all" name="property_type" class="pro-chx" value="constructed" checked>
			<div class="clab">Todos</div>
		</label>
	</li>
	<li class="pz">
		<label class="radio-inline">
			<input type="radio"  id="Hotel" name="property_type" class="pro-chx" value="constructed">
			<div class="clab">Hotel</div>
		</label>
	</li>
	<li class="pz">
		<label class="radio-inline">
			<input type="radio" id="Hostal" name="property_type" class="pro-chx" value="unconstructed" >
		 <div class="clab">Hostal</div>
		</label>
	</li>
	<li class="pz">
		<label class="radio-inline">
			<input type="radio" id="albergue" name="property_type" class="pro-chx" value="open_land">
			<div class="clab">Albergue</div>
		</label>
	</li>
  <li class="pz">
		<label class="radio-inline">
			<input type="radio" id="casaRural" name="property_type" class="pro-chx" value="open_land">
			<div class="clab">Casa Rural</div>
		</label>
	</li>
  <li class="pz">
		<label class="radio-inline">
			<input type="radio" id="propietario" name="property_type" class="pro-chx" value="open_land">
			<div class="clab">Propietario</div>
		</label>
	</li>
</ul>



<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div id="ids" class="d-flex flex-row bg-light" style="position: relative;">
    <div class="divHoteles" id="divH">
    
       <button type="button" class="btn btn-light" id="boton" style="width: 3rem; float-right">X</button>
    <div class=" p-4" id="mensajes">
      <h4 class="fw-bold text-secondary">Mas de un numero indefinido de Hoteles</h4>
      <hr style="width: 100%;">
      <div id="alojamientos">
           <div id="alo-b">
   
      </div>
      </div>
    </div>
    </div>
    </div>
    <div id="map"></div>
  </div>
  </main>


  <script>
  
  /*variables*/
  let hotel=document.querySelector('#Hotel');
  let hostal=document.querySelector('#Hostal');
  let albergue=document.querySelector('#albergue');
  let casaRural=document.querySelector('#casaRural');
  let propietario=document.querySelector('#propietario');
  let todos=document.querySelector('#all');
  var minPrecio=document.querySelector('#minprice');
  var maxPrecio=document.querySelector('#maxprice');
  
  let hoteles=document.querySelector("#infoHoteles");
  let info=hoteles.dataset.hotels;
  var array=JSON.parse(info);
  console.log(array);
  




hotel.addEventListener('click',function(){
filtrar(array,hotel.id);
filterMarkers(hotel.id);
sessionStorage.setItem('Regionactividad',hotel.id);
});
hostal.addEventListener('click',function(){
  filtrar(array,hostal.id);
  filterMarkers(hostal.id);
})
albergue.addEventListener('click',function(){
  filtrar(array,albergue.id);
    filterMarkers(albergue.id);
})
casaRural.addEventListener('click',function(){
filtrar(array,casaRural.id);
filterMarkers(casaRural.id);
})
propietario.addEventListener('click',function(){
filtrar(array,propietario.id);
filterMarkers(propietario.id);
})

todos.addEventListener('click',function(){
sessionStorage.removeItem('Regionactividad'); 
mostrarAlojamientos(array);
mostrarTodos();

})


document.addEventListener("DOMContentLoaded",function(){


if(window.sessionStorage){
  if(!sessionStorage.getItem('Regionactividadd')){

mostrarAlojamientos(array)
  }else{
let actividad=sessionStorage.getItem("Regionactividad");
  console.log(actividad)
  filtrar(array,actividad);
  filterMarkers(actividad);
  }

}


  
});

function filtrar(array,actividad){

sessionStorage.getItem('Regionactividad',actividad)
cambio=array.filter((element) => {
 return( element.Actividad == actividad && element.precio > minPrecio.value || element.precio < maxPrecio.value)});
if(cambio!=undefined && cambio.length >0){
mostrarAlojamientos(cambio);
}else{
mostrarMensaje();
}

}


function mostrarMensaje(){

  let div=document.getElementById('alojamientos');
  let hijo=document.getElementById('alo-b');
  div.removeChild(hijo);


  let divhijo=document.createElement('div');
  divhijo.id="alo-b";

let parrafo=document.createElement('p');
parrafo.textContent="No hay alojamientos disponibles"
divhijo.appendChild(parrafo);
div.appendChild(divhijo);
}


function mostrarAlojamientos(array){

  let div=document.getElementById('alojamientos');
  let hijo=document.getElementById('alo-b');
  div.removeChild(hijo);


  let divhijo=document.createElement('div');
  divhijo.id="alo-b";
  
  console.log(array);
  for(let i=0;i<array.length;i++){

let principal=document.createElement('div');
principal.classList="col";

let item=document.createElement('div');
item.classList="packege__item";
let inner=document.createElement('div');
inner.classList="packege__inner";


let thumb=document.createElement('div');
thumb.classList="packege__thumb";
let enlace=document.createElement('a');
enlace.href="/alojamiento/" + array[i]['Nombre'];
/*let imagen=document.createElement('img');
imagen.setAttribute('src','/img/alojamientos/'+ array[i]['images'][0]['imageName']);*/
/*enlace.appendChild(imagen)*/
thumb.appendChild(enlace);

let content=document.createElement('div');
content.classList="packege__content";
let aContent=document.createElement('a');
aContent.href="/alojamiento/" + array[i]['Nombre'];
let h5=document.createElement('h5');
h5.textContent=array[i]['Nombre'];
let rivew=document.createElement('div');
rivew.classList="packege__rivew";
let left=document.createElement('div')
left.classList="left";
let span1=document.createElement('span');
span1.textContent='lugar';
let span2=document.createElement('span');
span2.textContent='jiio';
let right=document.createElement('div');
right.classList="right";
let span3=document.createElement('span');
span3.textContent="fdfdfd";
left.appendChild(span1);
left.appendChild(span2)
right.appendChild(span3);
rivew.appendChild(left);
rivew.appendChild(right);
aContent.appendChild(h5);
content.appendChild(aContent)
content.appendChild(rivew)




inner.appendChild(thumb);
inner.appendChild(content)
item.appendChild(inner);
principal.appendChild(item);
 

    divhijo.appendChild(principal)
  }

div.appendChild(divhijo);
  }
  





var map,i;
var infowindow=[];
var markers=[];
var gmarkers=[];

function initMap() {
  const valencia = {
    lat: 39.4683179,
    lng: -0.3790023
  };
  map = new google.maps.Map(document.getElementById("map"), {
    zoom: 13,
    center: valencia,
   
  });
  
  let image = {
    url: '/img/signo.png', //ruta de la imagen
    size: new google.maps.Size(60, 60), //tamaño de la imagen
    origin: new google.maps.Point(0,0), //origen de la iamgen
  //el ancla de la imagen, el punto donde esta marcando, en nuestro caso el centro inferior.
  anchor: new google.maps.Point(0, 0) 
   };

   for (i = 0; i < array.length; i++) {

      markers[i] = new google.maps.Marker({
      position: new google.maps.LatLng(array[i]['ubicacion'].latitud, array[i]['ubicacion'].longitud),
      map:map,
      actividad:array[i]['Actividad'],
      icon: image
    });

gmarkers.push(markers[i])
    infowindow[i] = new google.maps.InfoWindow({
      content:'<a href="#hola"><div style="w-100"><div class="p-4" style="width:250px"><h5 class="fw-light">Alojamiento entero: piso. Anfitrión: Paula</h5><span class=>250 €</span></span></div></a>' });
  google.maps.event.addListener(markers[i], 'click', function(valor) { 
    return function(){ 
    infowindow[valor].open(map,markers[valor]); 
  }
  }(i));
  
}


  };



filterMarkers=function(actividad){

  for(i=0;i<gmarkers.length;i++){
    marker=gmarkers[i];
if(marker.actividad==actividad || actividad.length ===0){
marker.setVisible();

}else{

  marker.setVisible(false);
}

  }
}

 function mostrarTodos(){

  for(i=0;i<gmarkers.length;i++){

gmarkers[i].setVisible();
  }
}



function moveLocation(lat,lng){
const center=new google.maps.LatLng(lat,lng);
window.map.panto(center);

}


/*
function getGET()
    {
        // capturamos la url
        var loc = document.location.href;
        // si existe el interrogante
        if(loc.indexOf('?')>0)
        {
            // cogemos la parte de la url que hay despues del interrogante
            var getString = loc.split('?')[1];
            // obtenemos un array con cada clave=valor
            var GET = getString.split('&');
            var get = {};
            // recorremos todo el array de valores
            for(var i = 0, l = GET.length; i < l; i++){
                var tmp = GET[i].split('=');
                get[tmp[0]] = unescape(decodeURI(tmp[1]));
            }
            return get;
        }
    }
*/
 
    /*
        // Cogemos los valores pasados por get
        var valores=getGET();
        if(valores)
        {
            //recogemos los valores que nos envia la URL en variables para trabajar 
                //con ellas
            var actividad= valores['actividad'];
            console.log(min);
            var min=valores['minPrecio'];
            var max=valores['maxPrecio'];

            minPrecio.value=min;
            maxPrecio.value=max;
           

            filtrar(array,actividad);
             
        }else{
            // no se ha recibido ningun parametro por GET
            document.write("No se ha recibido ningún parámetro");
        }
  
*/


  </script>
{% endblock %}

  