{% extends 'email.html.twig' %}




{% block body %}
	<div style="width: 100%; background-color: #f1f1f1;">
    <div style="display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;  font-family: sans-serif;">
      &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    </div>
    <div style="max-width: 600px; margin: 0 auto;" class="email-container">
    	<!-- BEGIN BODY -->
      <table  role="presentation" cellspacing="0" cellpadding="0"  width="100%" style="margin: auto;">
	      <tr>
          <td valign="middle" class="hero " style="padding: 3em 0 2em 0;">
            <img src="images/email.png" alt="" style="width: 300px; max-width: 600px; height: auto; margin: auto; display: block;">
          </td>
	      </tr><!-- end tr -->
				<tr>
          <td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
            <table>
            	<tr>
            		<td>
            			<div class="text" style="padding: 0 2.5em; text-align: center;">
            				<h2>¡Hola!</h2>
            				<h3>Para restablecer su contraseña, haga click en  el siguiente enlace</h3>
            				<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
                            <p>Este link caduca en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
            			</div>
            		</td>
            	</tr>
            </table>
          </td>
	      </tr><!-- end tr -->
      <!-- 1 Column Text + Button : END -->
      </table>
      <table  role="presentation" cellspacing="0" cellpadding="0"  width="100%" style="margin: auto;">
      	<tr>
          <td valign="middle" class="bg_light footer-email email-section">
            <table>
            	<tr>
                <td valign="top" width="33.333%" style="padding-top: 20px;">
                  <table role="presentation" cellspacing="0" cellpadding="0"  width="100%">
                    <tr>
                      <td style="text-align: left; padding-right: 10px;">
                      	<h3>About</h3>
                      	<p>Orbi es una compañia especializada en el sector turistico.</p>
                      </td>
                    </tr>
                  </table>
                </td>
                <td valign="top" width="33.333%" style="padding-top: 20px;">
                  <table role="presentation" cellspacing="0" cellpadding="0"  width="100%">
                    <tr>
                      <td style="text-align: left; padding-left: 5px; padding-right: 5px;">
                      	<h3>Contacto</h3>
                      	<ul>
					                <li><span class="text">Calle Almirante Lobo, 2, Alfalfa - Santa Cruz</span></li>
					                <li><span class="text">+34 632 35 94 11</span></a></li>
					              </ul>
                      </td>
                    </tr>
                  </table>
                </td>
                
              </tr>
            </table>
          </td>
        </tr><!-- end: tr -->
        <tr>
        
        </tr>
      </table>

    </div>
  </div>
{% endblock %}