{% extends 'loginBase.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

<!--
 <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value=""/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button type="submit">login</button>

    </form>   
-->
<section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Iniciar Sesion</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap p-0">

                            <form action="{{ path('login') }}" class="signin-form" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" name="_username" required="">
                                </div>
                                <div class="form-group">
                                    <input id="password-field" type="password" name="_password" class="form-control"
                                        placeholder="Password" required="">
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control  btn-round submit px-3">Iniciar
                                        Sesion</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50">
                                        <label class="checkbox-wrap checkbox-primary">Remember Me
                                            <input type="checkbox" checked="">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="{{path('app_forgot_password_request')}}" style="color: #fff">Forgot Password</a>
                                    </div>
                                </div>
                            </form>
                            <h3 class="mb-4 text-center">¿No tienes una Cuenta?</h3>
                            <a href="{{path('app_register')}}"><button type="buttom" class="form-control  btn-round submit px-3">Crear una
                                Cuenta</button></a>
                        </div>
                    </div>
                </div>
            </div>

        </section>




{% endblock %}
