.fourzero .shape,
.travel--single .travel__thumb img,
.tour__location--details iframe,
.tour__thumb .thumb img,
.account__another .default__btn,
.account__social ul li a::after,
.contact__info--right,
.team--single .team__content,
.team--single .team__thumb,
.team--style2 .team__content,
.team__thumb img,
.blog__thumb img,
.gallery__thumb::after,
.packege--liststyle .packege__content,
.packege--liststyle .packege__thumb,
.packege__thumb img,
.feature__thumb img,
.footer__top--gallery ul li img,
.sidebar__offer--thumb img,
.header__bar span,
.header__wrapper,
.header.header-fixed,
.header,
input,
textarea,
select {
    width: 100%;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

.padding--bottom {
    padding-bottom: 80px;
  }

  .padding--top {
    padding-top: 75px;
  }

  @media (min-width: 992px) {

      .padding--bottom {
          padding-bottom: 125px;
      }
  
        .padding--top {
            padding-top: 115px;
        }
    }

body img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

.packege__thumb {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}

.packege__thumb {
    margin-bottom: 15px;
}

.packege__thumb img {

    width: 100%;
}

.packege__inner,
.packege__rivew {

    align-items: center;

}

.packege__rivew {
    justify-content: space-between;
}

@media screen and (max-width: 991px) {


    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }
}

.section__header {
    margin-bottom: 30px;
}

.packege__inner:hover .packege__thumb img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.packege__thumb a {

    display: block;
}

.packege__thumb {
    position: relative;
    overflow: hidden;
}

.left span {
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #848484;
}

.right span {

    color: rgb(34, 34, 34)
}

.tabs {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    /*margin-bottom: 50px;*/
}

@media (max-width: 1199px) {

    .tabs {
        margin-bottom: 40px;
    }
}

.tabs .current a:hover {
    color: #ec8327;

    border-bottom: 2px solid #ec8327;
}

.tabs a:hover {
    color: #7e7b78;
    border-bottom: 2px solid #7e7b78;
}

.tabs li a {
    color: #444444;
    font-weight: 700;
    padding: 20px;
}

.tabs li {
    margin-left: 12px;
    margin-right: 12px;
    text-transform: uppercase;
}

a {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    text-decoration: none;
}

li {
    list-style: none;
}


.cart-right {
    position: absolute;
    top: 7px;
    right: 7px;
    opacity: 1;
}


.cart-right button {
    border: 1px solid #ffffff;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 30px;
    height: 30px;
}


.py-3 {
padding-top: 1rem !important;
padding-bottom: 1rem !important;
}

/*footer*/
/*
main{

padding-top: 4rem;
margin-top: 30px;
}
*/
.navbar-nav .nav-link {
padding-right: 0;
padding-left: 0;
}

.text-400 {
color: #7a839e !important;
}

nav{
overflow: hidden;
top:0;
}

@media (min-width: 992px){


.border-lg-bottom-0 {
border-bottom: 0 !important;
}
}

.shadow-transition {
-webkit-box-shadow: 0 25px 45px rgba(79,86,101,0.075);
box-shadow: 0 25px 45px rgba(79,86,101,0.075);
}

.navbar-brand {
padding-top: -.046rem;
padding-bottom: -.046rem;
margin-right: 1rem;
font-size: calc(1.2978rem + .5736vw);
white-space: nowrap;
}

.text-1000 {
color: #0B132A !important;
}
.fw-medium {
font-weight: 500 !important;
}
.fs-1 {
font-size: 1.2rem !important;
}
.ms-2 {
margin-left: .5rem !important;
}
ol, ul {
margin-top: 0;
margin-bottom: 1rem;
}


.bg-gray-200 {
background: #e9ecef !important;
}

.bg-gray-800 {
background: #343a40 !important;
}


.search-bar {
border-radius: 10rem;
background: #fff;
box-shadow: 0 0 1rem rgba(0,0,0,0.15);
}

.search-bar .form-group {
position: relative;
margin-bottom: 0;
}

.search-bar .form-control {
height: calc(1.6em + 1rem + 2px);
}

.rounded-pill {
border-radius: 50rem !important;
}



@media (max-width: 991.98px){


.search-bar {
border-radius: 20px;
}

.search-bar .form-group {
margin-bottom: 1rem;
}
}

.card-poster {
    flex-direction: row;
    align-items: flex-end;
    color: #fff;
    border: none;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.1);
    min-height: 350px;
  }

  .bg-gray-100 {
    background-color: #f8f9fa !important;
  }

  .icon-rounded {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
  }

  .bg-primary-light {
    background-color: #e4e8fe;
  }


  .avatar.avatar-xxl {
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    line-height: 10rem;
  }
  .avatar {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 50%;
    line-height: 3rem;
  }

  .bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .date-tile {
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    color: #4E66F8;
    border-radius: .4rem;
    background: #e4e8fe;
    align-items: center;
    justify-content: center;
  }
  .banner {
    padding-block: 120px;
}

.bg__img {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}



@media (max-width: 575px) {


    .banner__content .btn-group {
        display: inline-block;
    }
}


a {
    font-size:14px;
   /* font-weight:700*/
  }
  .superNav {
    font-size:13px;
  }
  
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }

  .loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .3s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176,0);
    border-top: 2px solid rgba(50, 150, 176,0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176,.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
  }

