<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
{% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
 {% endblock %}
  
</head>

<body class="img js-fullheight"
        style="background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://preview.colorlib.com/theme/bootstrap/login-form-20/images/xbg.jpg.pagespeed.ic.tiVxeakBSd.webp;'); height: 100%;  ">
      
{% block body %}{% endblock %}
    
    </body>

</html>